@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@layer components{
    .add-btn {
        @apply font-semibold flex items-center gap-2 bg-green-200 text-green-900 px-2 py-2 rounded-md hover:bg-green-300 transition-colors cursor-pointer;
    }

    .del-btn {
        @apply font-semibold flex items-center gap-2 bg-red-200 text-red-900 px-2 py-2 rounded-md hover:bg-red-300 transition-colors cursor-pointer;
    }


    .card{
        @apply bg-white shadow-md rounded-lg p-4;
    }
    .card-btn{
        @apply text-[12px] flex justify-center items-center gap-2 bg-gray-200 text-gray-900 p-1 rounded-md hover:bg-purple-100 hover:text-purple-700 transition-colors cursor-pointer;
    }
}       

body{
    font-family: "Outfit", sans-serif;
    background-color: #fcfbfc;
    overflow-x: hidden;
}

